.app.dark {
  --bg-color: #05053d;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #48c5b7;
  --secondary-color: #84ff04;

  --inverted-primary-color: #021346;
  --inverted-secondary-color: #0449e0;
}