.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #05053d;

  --primary-color: #021346;
  --secondary-color: #0449e0;

  --inverted-primary-color: #48c5b7;
  --inverted-secondary-color: #84ff04;
}